<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Poiret+One" rel="stylesheet">
    <title>ABOUT</title>
</head>
<body>
    <h1 class="main-header">ABOUT ME</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about" id="about-onpage">About</a>
        <a href="/skills">Skills</a>
        <a href="/contact">Contact</a>
    </nav>
    <section id="about-text-container">
            <p class="main-text">I'm a 29 year old aspiring software engineer living <br>
                in Seattle, WA. Originally from San Diego, CA - my<br>
                background has primarily been music. While that<br> 
                will forever be a huge part of my life, I've found<br>
                satisfaction I never knew I needed since starting <br>
                my pivot into programming. I have been learning how to<br> 
                code for a little over a year now, and really look forward<br>
                to continuing this journey.
            </p>
        </section>
</body>
</html>