<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Poiret+One" rel="stylesheet">
    <title>CONTACT</title>
</head>
<body>
    <h1 class="main-header">CONTACT</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/contact" id="contact-onpage">Contact</a>
    </nav>
    <section id="contact-text-container">
        <h3><a href="https://twitter.com/GarrettOMoore1" class="contact-links">TWITTER</a></h3>
        <h3><a href="mailto:robertgarrettmoore@gmail.com" class="contact-links">EMAIL</a></h3>
        <h3><a href="https://www.linkedin.com/in/r-garrett-moore/" class="contact-links">LINKEDIN</a></h3>
    </section>
</body>
</html>