<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Poiret+One" rel="stylesheet">
    <title>HOME</title>
</head>
<body>
    <h1 class="main-header">GARRETT MOORE</h1>
    <nav>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/contact">Contact</a>
    </nav>
    <section id="main-text-container">
       <p class="main-text-greet">HELLO</p> 
       <p class="main-text">My name is Garrett Moore and I'm a WDI student at <br> General Assembly Seattle.</p>
    </section>
</body>
</html>