<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Poiret+One" rel="stylesheet">
    <title>SKILLS</title>
</head>
<body>
    <h1 class="main-header">SKILLS</h1>
    <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills" id="skills-onpage">Skills</a>
            <a href="/contact">Contact</a>
    </nav>
    <section id="skills-text-container">
            <p class="main-text">As of now, my skills would include: <br>
                JavaScript<br>
                HTML5/CSS/CANVAS <br>
                Though I am incredibly eager to learn as much as possible.
            </p> 
    </section>
</body>
</html>